  <% if @firearm.errors.any? %>
    <% @firearm.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  
  <%= f.text_field(:make, placeholder: "Make") %>
  <%= f.text_field(:model, placeholder: "Model") %>
  <%= f.select :category, ['Pistol', 'Rifle', 'Shotgun', 'NFA', 'Other'] %>
  <%= f.text_field(:caliber, placeholder: "Caliber") %>
  <%= f.number_field(:price, placeholder: "Price") %>
  <%= f.text_field(:serial_number, placeholder: "Serial Number") %>
  <%= f.text_field(:purchase_date, placeholder: "Purchase Date MM/DD/YYYY") %>
  <h3>Add an Accessory or Select From Existing Accessories</h3>
  <%= f.collection_check_boxes :accessory_ids, Accessory.all, :id, :name %>

