<h1><%= link_to "#{@current_user.username}", user_path(@current_user) %>'s Firearms</h1>
<hr>
<h4>Current Worth: $<%= @current_user.firearms_value %></h4>

<p>Filter Firearms:</p>
<%= form_tag("/firearms", method: "get") do %>
  <%= select_tag :category, options_for_select(@current_user.firearms.pluck(:category).uniq), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<%= button_to 'Add A Firearm!', new_firearm_path, method: :get, class: "outline" %>

<div>
  <ul class="no-bullet">
    <% @firearms.each do |firearm| %>
      <li><%= link_to "#{firearm.make} #{firearm.model}", firearm_path(firearm) %></li>
    <% end %>
  </ul>
</div>