<h1><%= link_to "#{@current_user.username}", user_path(@current_user) %>'s Firearms</h1>
<hr>
<h4>Current Value: $<%= @current_user.firearms_value %></h4>

<%= button_to 'Add A Firearm!', new_firearm_path, method: :get, class: "outline" %>

<div id="firearmList">
  <button class="accordion">Rifles</button>
  <div class="panel">
    <ul>
      <% @rifles.each do |rifle| %>
        <li><a href="javascript:void(0)" data-id="<%= rifle.id %>" class="openSideNav"><%= rifle.name %></a></li>
      <% end %>
    </ul>
  </div>
  <button class="accordion">Pistols</button>
  <div class="panel">
    <ul>
      <% @pistols.each do |pistol| %>
        <li><a href="javascript:void(0)" data-id="<%= pistol.id %>" class="openSideNav"><%= pistol.name %></a></li>
      <% end %>
    </ul>
  </div>
  <button class="accordion">Shotguns</button>
  <div class="panel">
    <ul>
      <% @shotguns.each do |shotgun| %>
        <li><a href="javascript:void(0)" data-id="<%= shotgun.id %>" class="openSideNav"><%= shotgun.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<div id="sideNav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <button class="js-next" data-id="">Next</button>
  <h2 class="firearmName">Name</h2>

  <hr>

  <p>Caliber: <span class="firearmCaliber"></span></p>
  <p>Serial Number: <span class="firearmSerial"></span></p>
  <p>Purchase Price: $<span class="firearmPrice"></span></p>
  <p>Purchase Date: <span class="firearmPurchase"></span></p>
</div>