<h1><%= @firearm.name %></h1>

<hr>

<p>Caliber: <%= @firearm.caliber %></p>
<p>Serial Number: <%= @firearm.serial_number %></p>
<p>Price Paid: $<%= @firearm.price %></p>
<p>Date Purchased: <%= @firearm.purchase_date %></p>

<h2>Accessories</h2>

<ul class="no-bullet">
  <% @firearm.accessories.each do |acc| %>
    <li><%= link_to "#{acc.name}", firearm_accessory_path(@firearm, acc) %></li>
  <% end %>
</ul>

<!-- everything above this line is now contained in firearmDrawer. -->

<%= button_to 'Add an Accessory', new_firearm_accessory_path(@firearm), method: :get %>
<%= button_to 'Edit Firearm', edit_firearm_path(@firearm), method: :get %>
<%= button_to 'Delete Firearm', firearm_path(@firearm), method: :delete, data: { confirm: 'Are you sure?'} %>
<%= button_to 'Return to Index', firearms_path, method: :get, class: "outline" %>