<h1><%= "#{@firearm.make} #{@firearm.model}" %></h1>

<p>Caliber: <%= @firearm.caliber %></p>
<p>Serial Number: <%= @firearm.serial_number %></p>
<p>Price Paid: $<%= @firearm.price %></p>
<p>Date Purchased: <%= @firearm.purchase_date %></p>

<h2>Accessories</h2>

<ul>
  <% @firearm.accessories.each do |acc| %>
    <li><%= link_to "#{acc.name}", firearm_accessory_path(@firearm, acc) %></li>
  <% end %>
</ul>

<%= button_to 'Add an Accessory', new_firearm_accessory_path(@firearm), method: :get %>
<br>
<%= button_to 'Edit Firearm', edit_firearm_path(@firearm), method: :get %>
<br>
<%= button_to 'Delete Firearm', firearm_path(@firearm), method: :delete, data: { confirm: 'Are you sure?'} %>
<br>
<%= button_to 'Return to Index', firearms_path, method: :get %>
