<h1><%= "#{@firearm.make} #{@firearm.model}" %></h1>

<p>Caliber: <%= @firearm.caliber %></p>
<p>Serial Number: <%= @firearm.serial_number %></p>
<p>Price Paid: $<%= @firearm.price %></p>
<p>Date Purchased: <%= @firearm.purchase_date %></p>

<%= button_to 'Edit Firearm', edit_firearm_path(@firearm), method: :get %><br>

<%= button_to 'Delete Firearm', firearm_path(@firearm), method: :delete, data: { confirm: 'Are you sure?'} %>


