<h1><%= @user.username %>'s Profile</h1>

<div>
  <p>Email: <%= @user.email %></p>
</div>

<div>
  <%= @user.firearms_value %>
</div>

<h2><%= link_to 'View Your Firearms', firearms_path %></h2>

<div>
  <%= button_to 'Edit Profile Information', edit_user_path(@user), method: :get %>
</div>

<div>
  <%= link_to 'Log Out', logout_path, method: :post %>
</div>