  <% if @accessory.errors.any? %>
    <% @accessory.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

<%= form_for(@accessory) do |a| %>
  <%= a.hidden_field :firearm_id, value: params[:firearm_id] %>
  <%= a.text_field(:name, placeholder: "Name") %>
  <%= a.number_field(:price, placeholder: "Price") %>
  <%= a.text_field(:purchase_date, placeholder: "Date Purchased - MM/DD/YYYY") %>
  <%= a.select :category, ['Optic', 'Sling', 'Light', 'Trigger', 'Other'] %>
  <%= a.submit %>
<% end %>