<h1><%= @accessory.name %></h1>
<hr>
<p>Purchased On: <%= @accessory.purchase_date %></p>
<p>Price: $<%= @accessory.price %></p>

<h3>Who bought one?</h3>

<div>
  <% @accessory.users.uniq.each do |user| %>
    <li>
      <%= user.username %>
    </li>
  <% end %>
</div>

<br>

<%= button_to 'Edit Accessory', edit_accessory_path(@accessory), method: :get %>
<%= button_to 'Delete Accessory', accessory_path(@accessory), method: :delete, data: { confirm: 'Are you sure?'} %>
<%= button_to 'Return to Index', firearms_path, method: :get, class: "outline" %>